# Object files
*.o

# Executable files
a.out
*.exe
*.out
*.elf


# Build files
*.dSYM/
*.log

# If you have a 'build' directory
build/

// Ignore Visual Studio Code settings
.vscode/
*.csproj

# ignore bin and obj directories
bin/
obj/
